{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Tickets land{% endblock %}</title>
    {% bootstrap_css %}
</head>
<body class="d-flex flex-column min-vh-100" style="background-color: #A0AECD;">
  <!-- Бургер-меню для мобильных устройств -->
  {% if not '/login/' in request.path and not '/register/' in request.path %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light d-lg-none position-fixed top-0 w-100 z-index-1030">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Tickets.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav text-center">
                <li class="nav-item">
                    <a href="{% url 'profile' %}" class="nav-link {% if '/profile/' in request.path %}active{% endif %}">Профиль</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'ticket_list' %}" class="nav-link {% if '/tickets/' in request.path %}active{% endif %}">Тикеты</a>
                </li>
                {% if user.role == 'admin' %}
                <li class="nav-item">
                    <a href="{% url 'users' %}" class="nav-link {% if '/users/' in request.path %}active{% endif %}">Пользователи</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <form action="{% url 'logout' %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="nav-link btn btn-link mt-1" style="padding: 0; margin: auto;">Выход</button>
                    </form>
                </li>
            </ul>
        </div>
      </div>
    </nav>
    {% endif %}
  
    <div class="d-flex flex-row flex-grow-1">
        <!-- Навигационное меню для десктопов -->
        {% if not '/login/' in request.path and not '/register/' in request.path %}
        <nav class="navbar navbar-expand-lg navbar-light d-none d-lg-flex flex-column" style="min-width: 200px; max-height: 180px;">
            <div class="nav nav-pills flex-column gap-2 p-1 small text-center" style="min-width: 170px;">
                <a href="{% url 'profile' %}" class="nav-link shadow-sm text-primary {% if '/profile/' in request.path %}bg-primary text-white{% endif %} rounded-5" style="max-height: 40px; background-color: #f8f9fa;">Профиль</a>
                <a href="{% url 'ticket_list' %}" class="nav-link shadow-sm rounded-5 text-primary {% if '/tickets/' in request.path %}bg-primary text-white{% endif %}" style="max-height: 40px; background-color: #f8f9fa;">Тикеты</a>
                {% if user.role == 'admin' %}
                <a href="{% url 'users' %}" class="nav-link shadow-sm text-primary {% if '/users/' in request.path %}bg-primary text-white{% endif %} rounded-5" style="max-height: 40px; background-color: #f8f9fa;">Пользователи</a>
                {% endif %}
                <form action="{% url 'logout' %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="nav-link btn btn-light rounded-5 shadow-sm" style="border: none; width: 100%; max-height: 40px; background-color: #f8f9fa;">Выход</button>
                </form>
            </div>
        </nav>
        {% endif %}
  
        <!-- Основной контент -->
        <div class="margin-top-mobile responsive-container container mt-4 flex-grow-1 gap-3 {% if '/login/' in request.path or '/register/' in request.path %}justify-content-start align-items-center{% endif %}">
          <main>{% block content %}{% endblock %}</main>
        </div>
    </div>
  
    <footer class="text-center mt-auto text-white padding-footer-mobile">
        <p>&copy; 2025 Tickets</p>
    </footer>
    <style>
      .responsive-container {
        display: flex;
        gap: 3rem;
      }
    
      @media (min-width: 992px) {
        .responsive-container {
          display: flex;
        }
      }
    
      @media (max-width: 991px) {
        .responsive-container {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .padding-top-mobile-h {
          padding-top: 40px !important;
        }
        .padding-footer-mobile {
          padding-bottom: 40px;
        }
      }
    </style>
    {% bootstrap_javascript %}
  </body>

</html>